.table-row {
    background: var(--tlo6);
    font-family: Montserrat;
    color: var(--tlo2);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.2px;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 5px 5px 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    word-break: break-word;
    border-top: 1px solid var(--ramka-tabelka-nagl);
    margin-top: -1px;
}

.table-cell {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.header {
  width: 20%;
}
